<a href="https://colab.research.google.com/github/StanStarishko/python-programming-for-data/blob/main/Worksheets/2_2_Working_with_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Working with Strings
---

The pandas library has a similar set of string functions to those available in python generally.  Because we often want to perform operations on a whole series of data values in a dataframe, we can use pandas string functions to do this:

### Creating a series from a pandas column
---

A column of data is treated by pandas as a Series.  There is a set of functions that you can access for working with a **series** (just one column from the data table).

To get a 'series' from a dataframe, you would split the column from the rest of the dataframe by taking a copy of it and storing it in a new variable (which is very similar to a list).

The examples below show what you can do with a Series rather than a whole table.

To get a column of data as a series:

```
series_data = df['date']
```
or
```
price_series = df['price']
```
where 'date' or 'price' are the names of the columns in the dataframe

### Splitting data
---

Series.str.split() *to split a column's strings into components*    
Series.str.get() *to get one of the components after the split*  

You can **daisychain** these together:   

`Series.str.split().str.get()`

* `split()` will split by white space unless specified, for example if you wanted to split by "/" you would use `split("/")`  

* `get()` requires a parameter of the value position of the string you would like to 'get'. If you want the first word eg 1999, use `get(0)`.


*Hint: remember to save your result into a new column*

### Exercise 1 strings
---

Let's use the data set 'Housing in London' at 'https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv'

The date, in this dataset is a string.   To filter for a particular year, we will need to extract the first four letters as a substring.  We can create a new column called **year**, which just contains the year, stored as a number.

The date is written in the format yyyy-mm-dd.  We can split the year around the '-' and then use the first component.


Create a function called **get_year()** which splits the data from the date column, and creates a year column with just the year before returning the year column.


**Test output**:  

```
0       1999
1       1999
2       1999
3       1999
4       1999
        ...
1066    2019
1067    2019
1068    2019
1069    2019
1070    2019
Name: year, Length: 1071, dtype: object
```

In [ ]:
import pandas as pd

def is_valid_link(link="",link_name="",autotest=False):
  # link always isn't empty and must have is string
  return_value = link != "" and isinstance(link, str)

  if not return_value and not autotest: # not print if autotest
    print(f"{link_name} is not valid")

  return return_value


def get_year(url=""):
  # add code below to return a new series created from the year column, with just years

  if not is_valid_link(url,"url"):
    return False

  df = pd.read_csv(url)

  # create column "year" from full-date
  df["year"] = df["date"].str.split('-').str.get(0)
  print(df["year"])

  return df["year"]



# run and test if returned series is of correct length and has correct first row

url = "https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv"

series_year = get_year(url)
# actual_len = len(get_year(url))
# actual_value = get_year(url).iloc[0]
actual_len = len(series_year)
actual_value = series_year.iloc[0]
expected_len = 1071
expected_val = "1999"

if actual_len == expected_len and actual_value == expected_val:
  print("Test passed expected length 1071 and first value 1999 and got", actual_len, actual_value)
else:
  print("Test failed expected length 1071 and first value 1999 and got length", actual_len, "value", actual_value)

0       1999
1       1999
2       1999
3       1999
4       1999
        ...
1066    2019
1067    2019
1068    2019
1069    2019
1070    2019
Name: year, Length: 1071, dtype: object
Test passed expected length 1071 and first value 1999 and got 1071 1999

### Exercise 2
---

In exercise 1 you have extracted the year, but it's dtype is 'object' (it is still a string).  You can convert to integer by adding  .astype(int) to the daisychain.

Create a new function called **get_int_year()**, `return` the year column with values of type int.

**Test output**:  

```
...
Name: year, Length: 1071, dtype: int64
```

In [ ]:
import numpy as np

def get_int_year(series_in=None):
  # add code below to return a year column where values are of integer type

  if series_in is None:
    return False

  # create column "year" from str to int
  series_out = series_in.astype(np.int64)
  print(series_out)

  return series_out


# run and test if your returned series is of type int

actual = get_int_year(series_year).dtype
expected = np.int64

if actual == expected:
  print("Test passed", actual)
else:
  print("Test failed, expected", expected, "got", actual)

0       1999
1       1999
2       1999
3       1999
4       1999
        ...
1066    2019
1067    2019
1068    2019
1069    2019
1070    2019
Name: year, Length: 1071, dtype: int64
Test passed int64

### Exercise 3
---

All the areas in the data set are in lower case.  To prepare the data for reporting, you may want to capitalise.  Use .str.title() to do this.

Create the function **get_title_areas()** to do this. `Return` the newly capitalised area column

In [ ]:
def get_title_areas(url="",print_df=True):
  # add code below to capitalise the first letter of each string in the column 'area'

  if not is_valid_link(url,"url"):
    return False

  df = pd.read_csv(url)

  # create column "year" from full-date
  df["area"] = df["area"].str.title()

  if print_df:
    print(df["area"])

  return df["area"]


# run and test if the first row of the area column is now correct

actual = get_title_areas(url).iloc[0]
expected = "City Of London"

if actual == expected:
  print("Test passed", actual)
else:
  print("Test failed, expected", expected, "got", actual)

0             City Of London
1       Barking And Dagenham
2                     Barnet
3                     Bexley
4                      Brent
                ...
1066           Great Britain
1067       England And Wales
1068        Northern Ireland
1069                Scotland
1070                   Wales
Name: area, Length: 1071, dtype: object
Test passed City Of London

### Exercise 4 - Filter all areas to find all with 'And' in the name
---

Create a function called **get_and()** which uses `str.contains()` and a search (e.g. df[df['area'].str.contains()]) to filter and `return` all areas with 'And' in the name  (Note:  case is important)

**Test output**:  
105 rows × 13 columns

In [ ]:
def get_and(url=""):
# add code to return just rows in which area contains 'And'

  if not is_valid_link(url,"url"):
    return False

  df = pd.read_csv(url)

  contains_df = df[df["area"].str.contains(" and ")]
  print(contains_df)

  return contains_df


# run and test if returned is correct length

actual = len(get_and(url))
expected = 105

if actual == expected:
  print("Test passed", actual)
else:
  print("Test failed, expected", expected, "got", actual)

           code                      area        date  median_salary  \
1     E09000002      barking and dagenham  1999-12-01        21480.0
12    E09000013    hammersmith and fulham  1999-12-01        25000.0
19    E09000020    kensington and chelsea  1999-12-01        20646.0
35    E12000003  yorkshire and the humber  1999-12-01        16527.0
47    K04000001         england and wales  1999-12-01        17974.0
...         ...                       ...         ...            ...
1021  E09000002      barking and dagenham  2019-12-01        28738.0
1032  E09000013    hammersmith and fulham  2019-12-01        37990.0
1039  E09000020    kensington and chelsea  2019-12-01        33000.0
1055  E12000003  yorkshire and the humber  2019-12-01        27835.0
1067  K04000001         england and wales  2019-12-01        30500.0

      life_satisfaction mean_salary recycling_pct  population_size  \
1                   NaN       23620             3         162444.0
12                  NaN       28555             7         160634.0
19                  NaN       28074            13         147678.0
35                  NaN       18977             7        4956325.0
47                  NaN       21549           NaN       51933471.0
...                 ...         ...           ...              ...
1021                NaN       32010           NaN              NaN
1032                NaN       48362           NaN              NaN
1039                NaN       41741           NaN              NaN
1055                NaN       32653           NaN              NaN
1067                NaN       37865           NaN              NaN

      number_of_jobs  area_size  no_of_houses  borough_flag
1                NaN        NaN           NaN             1
12               NaN        NaN           NaN             1
19               NaN        NaN           NaN             1
35               NaN        NaN           NaN             0
47               NaN        NaN           NaN             0
...              ...        ...           ...           ...
1021             NaN        NaN           NaN             1
1032             NaN        NaN           NaN             1
1039             NaN        NaN           NaN             1
1055             NaN        NaN           NaN             0
1067             NaN        NaN           NaN             0

[105 rows x 12 columns]
Test passed 105

### Exercise 5
---

Filter the data for all areas starting with 'Ba'  

*hint: use `startswith()`*

**Test Ouput:**  
42 rows, first row has area 'Barking and Dagenham'

In [ ]:
def get_ba(url=""):
  # add code to filter for all areas starting with 'Ba'

  if not is_valid_link(url,"url"):
    return False

  df = get_title_areas(url,print_df=False)

  contains_df = df[df.str.startswith("Ba")]
  print(contains_df)

  return contains_df


# run and test if your returned rows are the right length

actual = len(get_ba(url))
expected = 42

if actual == expected:
  print("Test passed", actual)
else:
  print("Test failed, expected", expected, "got", actual)

1       Barking And Dagenham
2                     Barnet
52      Barking And Dagenham
53                    Barnet
103     Barking And Dagenham
104                   Barnet
154     Barking And Dagenham
155                   Barnet
205     Barking And Dagenham
206                   Barnet
256     Barking And Dagenham
257                   Barnet
307     Barking And Dagenham
308                   Barnet
358     Barking And Dagenham
359                   Barnet
409     Barking And Dagenham
410                   Barnet
460     Barking And Dagenham
461                   Barnet
511     Barking And Dagenham
512                   Barnet
562     Barking And Dagenham
563                   Barnet
613     Barking And Dagenham
614                   Barnet
664     Barking And Dagenham
665                   Barnet
715     Barking And Dagenham
716                   Barnet
766     Barking And Dagenham
767                   Barnet
817     Barking And Dagenham
818                   Barnet
868     Barking And Dagenham
869                   Barnet
919     Barking And Dagenham
920                   Barnet
970     Barking And Dagenham
971                   Barnet
1021    Barking And Dagenham
1022                  Barnet
Name: area, dtype: object
Test passed 42

### Exercise 6
---
Create function called **get_ham()** to filter and `return` the data for all areas ending with 'ham', for the year 2000

*hint: use `endswith()`*   

**Test output**:  
4 rows (barking and dagenham, hammersmith and fulham, lewisham, newham)

In [ ]:

def get_ham(url=""):
  # add code to return rows which end with 'ham' for the year 2000

  if not is_valid_link(url,"url"):
    return False

  df = pd.read_csv(url)

  # filtered with year equals 2000
  df["year"] = df["date"].str.split('-').str.get(0)
  df_year = df[df["year"] == "2000"]

  contains_df = df_year[df_year["area"].str.endswith("ham")]["area"]
  print(contains_df)

  return contains_df



# run and test if correct number of rows are returned

actual = len(get_ham(url))
expected = 4

if actual == expected:
  print("Test passed", actual)
else:
  print("Test failed, expected", expected, "got", actual)

52      barking and dagenham
63    hammersmith and fulham
73                  lewisham
75                    newham
Name: area, dtype: object
Test passed 4

### Exercise 7 - new data set
---

Use the data set here:  https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true

Read the data from the sheet 'Skill Migration'  

Write a function called **create_new_df()** which will inspect the data, then create and return new dataframe with the following changes:

1.  Remove the word 'Skills' from the 'skill_group_category' column   
  *hint: you can use the `str.rstrip()` function*
2.  Convert country_code to uppercase    
  *hint: try `upper()`*  
4.  Remove the skill_group_id and the wb_income columns
3.  Filter for regions containing 'Asia'  
  *hint: you might have to `return` it*

**Test output**:  
9969 rows × 10 columns

In [ ]:

def get_excel_data(url="",sheet_name="default"):
  # url and sheet name always isn't empty and must have is string
  is_not_valid_url = not is_valid_link(url,"url")
  is_not_valid_sheet_name = not is_valid_link(sheet_name,"sheet name")
  if is_not_valid_url or is_not_valid_sheet_name:
    return False

  if sheet_name == "default":
    df = pd.read_excel(url)
  else:
    df = pd.read_excel(url,sheet_name)

  return df


def create_new_df(url=""):
  # add code below to return a df with 'Skills' removed, country_code in uppercase, no skill_group_id or wb_income columns and only for regions containing Asia

  if not is_valid_link(url,"url"):
    return False

  #get data frame
  df = get_excel_data(url,sheet_name="Skill Migration")

  # 1. remove 'Skills' from the 'skill_group_category' column
  df["skill_group_category"] = df["skill_group_category"].str.rstrip("Skills")

  # 2. Convert country_code to uppercase
  df["country_code"] = df["country_code"].str.upper()

  # 3. Remove the skill_group_id and the wb_income columns
  df = df.drop(columns=["skill_group_id","wb_income"])

  # 4. Filter for regions containing 'Asia'
  df = df[df["wb_region"].str.contains("Asia")]

  print(df)

  return df



# run and test if returned dataframe is correct length, with the right number of columns  and first row skill_group_category is correct
url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"
test_df = create_new_df(url)
actual_len = len(test_df)
actual_col = len(test_df.columns)
expected_len = 9969
expected_col = 10
actual_skill = test_df['skill_group_category'].iloc[0]
expected_skill = 'Tech '

if actual_len == expected_len and actual_col == expected_col and actual_skill == expected_skill:
  print("Test passed", actual_len, "x", actual_col, actual_skill)
else:
  print("Test failed, expected", expected_len, "x", expected_col, expected_skill, "got", actual_len, "x", actual_col, actual_skill)

      country_code country_name            wb_region   skill_group_category  \
0               AF  Afghanistan           South Asia                  Tech
1               AF  Afghanistan           South Asia              Business
2               AF  Afghanistan           South Asia  Specialized Industry
3               AF  Afghanistan           South Asia                  Tech
4               AF  Afghanistan           South Asia  Specialized Industry
...            ...          ...                  ...                    ...
17371           VN      Vietnam  East Asia & Pacific  Specialized Industry
17372           VN      Vietnam  East Asia & Pacific  Specialized Industry
17373           VN      Vietnam  East Asia & Pacific              Business
17374           VN      Vietnam  East Asia & Pacific       Disruptive Tech
17375           VN      Vietnam  East Asia & Pacific              Business

             skill_group_name  net_per_10K_2015  net_per_10K_2016  \
0      Information Management           -791.59           -705.88
1      Operational Efficiency          -1610.25           -933.55
2           National Security          -1731.45           -769.68
3            Software Testing           -957.50           -828.54
4                        Navy          -1510.71           -841.17
...                       ...               ...               ...
17371               Air Force            658.89            291.89
17372                 Cooking             83.81            236.02
17373             Sales Leads            511.16             98.13
17374   Aerospace Engineering            410.02             42.71
17375        Revenue Analysis            315.68            158.12

       net_per_10K_2017  net_per_10K_2018  net_per_10K_2019
0               -550.04           -680.92          -1208.79
1               -776.06           -532.22           -790.09
2               -756.59           -600.44           -767.64
3               -964.73           -406.50           -739.51
4               -842.32           -581.71           -718.64
...                 ...               ...               ...
17371           -271.00            219.20            166.99
17372            -42.85            238.90            180.90
17373           -355.91            133.89            181.47
17374           -222.09            138.03            256.55
17375            101.89            277.98            267.58

[9969 rows x 10 columns]
Test passed 9969 x 10 Tech

### Exercise 8
---

Write a function called **clean_skills()** that will:
1. rename the **net_per_10K_year** columns to be just the year
2. in the **skill_group_category** column replace the 'z' in 'specialized' with 's' to Anglicise the spelling.

The function should `return` the cleaned data.  

Hint:  You can use the `replace()` function to replace substring's and characters in both column headings and the actual data.  
* `.str.replace("old","new")`

**Test output**:  
17617 rows × 12 columns, with z replace by s in Specialized  
Column names: country_code	country_name	wb_income	wb_region	skill_group_id	skill_group_category	skill_group_name	2015	2016	2017	2018	2019

In [ ]:
#migration = # add code to open dataset here
migration = get_excel_data(url,sheet_name="Skill Migration")

def clean_skills(df):
  # add code to clean the data
  # rename the net_per_10K_year columns to be just the year
  migration.columns = migration.columns.str.replace("net_per_10K_","")

  # in the skill_group_category column replace the 'z' in 'specialized' with 's' to Anglicise the spelling
  migration["skill_group_category"] = migration["skill_group_category"].str.replace("pecialized","pecialised")

  return migration



  # in the skill_group_category column replace the 'z' in 'specialized' with 's' to Anglicise the spelling

  # return the cleaned data


# run and test if columns have correct names and specialised is anglised
test_df = clean_skills(migration)

if (test_df['skill_group_category'].str.contains('Specialised').any() == True) and (test_df.columns.str.contains('net_per_10K_').any() == False):
  print("Test passed")
else:
  print("Test failed")

Test passed

### Exercise 9
---

Read the 'Country Migration' sheet.

Write a function that will:  
*  convert the country codes to upper case  
*  drop the lat and long columns for both base and target  
*  rename the net_per_10K_year columns to year only  
*  filter for base_country_wb_region contains 'Africa' and target_country_wb_region contains Asia  

**Test output**:  
```
base_country_code	base_country_name	base_country_wb_income	base_country_wb_region	target_country_code	target_country_name	target_country_wb_income	target_country_wb_region	2015	2016	2017	2018	2019
0	AE	United Arab Emirates	High Income	Middle East & North Africa	AF	Afghanistan	Low Income	South Asia	0.19	0.16	0.11	-0.05	-0.02
4	AE	United Arab Emirates	High Income	Middle East & North Africa	AM	Armenia	Upper Middle Income	Europe & Central Asia	0.10	0.05	0.03	-0.01	0.02
5	AE	United Arab Emirates	High Income	Middle East & North Africa	AU	Australia	High Income	East Asia & Pacific	-1.06	-3.31	-4.01	-4.58	-4.09
6	AE	United Arab Emirates	High Income	Middle East & North Africa	AT	Austria	High Income	Europe & Central Asia	0.11	-0.08	-0.07	-0.05	-0.16
7	AE	United Arab Emirates	High Income	Middle East & North Africa	AZ	Azerbaijan	Upper Middle Income	Europe & Central Asia	0.24	0.25	0.10	0.05	0.04
...	...	...	...	...	...	...	...	...	...	...	...	...	...
4132	ZM	Zambia	Lower Middle Income	Sub-Saharan Africa	GB	United Kingdom	High Income	Europe & Central Asia	43.27	27.60	7.88	6.90	3.68
4135	ZW	Zimbabwe	Low Income	Sub-Saharan Africa	AU	Australia	High Income	East Asia & Pacific	-1.31	-2.33	-2.10	-2.08	-1.84
4138	ZW	Zimbabwe	Low Income	Sub-Saharan Africa	IS	Iceland	High Income	Europe & Central Asia	8.52	6.22	2.35	1.81	0.97
4142	ZW	Zimbabwe	Low Income	Sub-Saharan Africa	NO	Norway	High Income	Europe & Central Asia	2.88	6.46	2.10	0.33	-0.13
4145	ZW	Zimbabwe	Low Income	Sub-Saharan Africa	GB	United Kingdom	High Income	Europe & Central Asia	3.91	4.66	0.74	-0.66	-1.97
478 rows × 13 columns
```

In [ ]:
def clean_country_mig(url=""):
  # add code below to clean the data
  df = get_excel_data(url,sheet_name="Country Migration")

  # convert the country codes to upper case
  df["base_country_code"] = df["base_country_code"].str.upper()
  df["target_country_code"] = df["target_country_code"].str.upper()

  # drop the lat and long columns for both base and target
  df = df.drop(columns=["base_lat","base_long","target_lat","target_long"])

  # rename the net_per_10K_year columns to year only
  df.columns = df.columns.str.replace("net_per_10K_","")

  # filter for base_country_wb_region contains 'Africa' and target_country_wb_region contains Asia
  df = df[df["base_country_wb_region"].str.contains("Africa")]
  df = df[df["target_country_wb_region"].str.contains("Asia")]

  print(df)

  return df




# run test if there is the correct number of columns, country codes are in uppercase and year columns have been reformatted

#test_df = clean_country_mig(url)
df = clean_country_mig(url)
#actual_col_len = len(test_df.columns)
actual_col_len = len(df.columns)
expected = 13

if actual_col_len == expected and (df['base_country_code'].str.islower().any() == False) and (df.columns.str.contains('net_per_10K_').any() == False):
  print("Test passed")
else:
  print("Test failed")

     base_country_code     base_country_name base_country_wb_income  \
0                   AE  United Arab Emirates            High Income
4                   AE  United Arab Emirates            High Income
5                   AE  United Arab Emirates            High Income
6                   AE  United Arab Emirates            High Income
7                   AE  United Arab Emirates            High Income
...                ...                   ...                    ...
4132                ZM                Zambia    Lower Middle Income
4135                ZW              Zimbabwe             Low Income
4138                ZW              Zimbabwe             Low Income
4142                ZW              Zimbabwe             Low Income
4145                ZW              Zimbabwe             Low Income

          base_country_wb_region target_country_code target_country_name  \
0     Middle East & North Africa                  AF         Afghanistan
4     Middle East & North Africa                  AM             Armenia
5     Middle East & North Africa                  AU           Australia
6     Middle East & North Africa                  AT             Austria
7     Middle East & North Africa                  AZ          Azerbaijan
...                          ...                 ...                 ...
4132          Sub-Saharan Africa                  GB      United Kingdom
4135          Sub-Saharan Africa                  AU           Australia
4138          Sub-Saharan Africa                  IS             Iceland
4142          Sub-Saharan Africa                  NO              Norway
4145          Sub-Saharan Africa                  GB      United Kingdom

     target_country_wb_income target_country_wb_region   2015   2016  2017  \
0                  Low Income               South Asia   0.19   0.16  0.11
4         Upper Middle Income    Europe & Central Asia   0.10   0.05  0.03
5                 High Income      East Asia & Pacific  -1.06  -3.31 -4.01
6                 High Income    Europe & Central Asia   0.11  -0.08 -0.07
7         Upper Middle Income    Europe & Central Asia   0.24   0.25  0.10
...                       ...                      ...    ...    ...   ...
4132              High Income    Europe & Central Asia  43.27  27.60  7.88
4135              High Income      East Asia & Pacific  -1.31  -2.33 -2.10
4138              High Income    Europe & Central Asia   8.52   6.22  2.35
4142              High Income    Europe & Central Asia   2.88   6.46  2.10
4145              High Income    Europe & Central Asia   3.91   4.66  0.74

      2018  2019
0    -0.05 -0.02
4    -0.01  0.02
5    -4.58 -4.09
6    -0.05 -0.16
7     0.05  0.04
...    ...   ...
4132  6.90  3.68
4135 -2.08 -1.84
4138  1.81  0.97
4142  0.33 -0.13
4145 -0.66 -1.97

[478 rows x 13 columns]
Test passed

### Exercise 10
---

Read the data from file 'https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv'.

Write a function that will return a new dataframe with just the married women listed, surname only.

**Test output**:  
```
	PassengerId	Survived	Pclass	Name	Sex	Age	SibSp	Parch	Ticket	Fare	Cabin	Embarked
1	2	1	1	Cumings	female	38.0	1	0	PC 17599	71.2833	C85	C
3	4	1	1	Futrelle	female	35.0	1	0	113803	53.1000	C123	S
8	9	1	3	Johnson	female	27.0	0	2	347742	11.1333	NaN	S
9	10	1	2	Nasser	female	14.0	1	0	237736	30.0708	NaN	C
15	16	1	2	Hewlett	female	55.0	0	0	248706	16.0000	NaN	S
...	...	...	...	...	...	...	...	...	...	...	...	...
871	872	1	1	Beckwith	female	47.0	1	1	11751	52.5542	D35	S
874	875	1	2	Abelson	female	28.0	1	0	P/PP 3381	24.0000	NaN	C
879	880	1	1	Potter	female	56.0	0	1	11767	83.1583	C50	C
880	881	1	2	Shelley	female	25.0	0	1	230433	26.0000	NaN	S
885	886	0	3	Rice	female	39.0	0	5	382652	29.1250	NaN	Q
129 rows × 12 columns
```

In [ ]:
def get_married(url=""):
  # add code to return only the last names of married women

  if not is_valid_link(url,"url"):
    return False

  df = pd.read_csv(url)

  # filter for married women
  df = df[df["Name"].str.contains("Mrs.")]  #df[df["Sex"] == "female"]
  #df = df[df["Age"] >= 18]

  # get last name
  df["Name"] = df["Name"].str.split(",").str.get(0)

  print(df)

  return df




# run and test if returned dataframe is correct length and has correct first row
titanic = "https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv"
test_df = get_married(titanic)
actual_len = len(test_df)
expected_len = 129
actual_name = test_df['Name'].iloc[0]
expected_name = 'Cumings'

if actual_len == expected_len and actual_name == expected_name:
  print("Test passed, ", actual_len, actual_name)
else:
  print("Test failed expected ", expected_len, expected_name, "got", actual_len, actual_name)

     PassengerId  Survived  Pclass      Name     Sex   Age  SibSp  Parch  \
1              2         1       1   Cumings  female  38.0      1      0
3              4         1       1  Futrelle  female  35.0      1      0
8              9         1       3   Johnson  female  27.0      0      2
9             10         1       2    Nasser  female  14.0      1      0
15            16         1       2   Hewlett  female  55.0      0      0
..           ...       ...     ...       ...     ...   ...    ...    ...
871          872         1       1  Beckwith  female  47.0      1      1
874          875         1       2   Abelson  female  28.0      1      0
879          880         1       1    Potter  female  56.0      0      1
880          881         1       2   Shelley  female  25.0      0      1
885          886         0       3      Rice  female  39.0      0      5

        Ticket     Fare Cabin Embarked
1     PC 17599  71.2833   C85        C
3       113803  53.1000  C123        S
8       347742  11.1333   NaN        S
9       237736  30.0708   NaN        C
15      248706  16.0000   NaN        S
..         ...      ...   ...      ...
871      11751  52.5542   D35        S
874  P/PP 3381  24.0000   NaN        C
879      11767  83.1583   C50        C
880     230433  26.0000   NaN        S
885     382652  29.1250   NaN        Q

[129 rows x 12 columns]
Test passed,  129 Cumings

---
### Optional extra practice

There are some similar and some more challenging exercises [here](https://www.w3resource.com/python-exercises/date-time-exercise/) if you would like to practice more. The site has its own editor.

# Reflection
----

## What skills have you demonstrated in completing this notebook?

Your answer:

- attention to detail
- scaling my own developments
- applying my own development strategies
- rapid acquisition of new knowledge

## What caused you the most difficulty?

Your answer:

I didn't really have any particular problems