<a href="https://colab.research.google.com/github/StanStarishko/python-programming-for-data/blob/main/Worksheets/4b_wrangle_the_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Merging dataframes, creating new columns, replacing with default or correctly formatted values
---

## Merging dataframes

We often want to use data from a set of different data files, or a set of dataframes we have prepared, to combine into one dataframe.

### To merge two dataframes together when both dataframes have column headings in common - stacking them one on top of another

If `df1` and `df2` have some column headings in common, to combine the two into one dataframe we use:  

`pd.concat([dataframes to combine])`

This will create a new dataframe with all columns from the original two dataframes, which we can store in a new variable for later use.  Missing values are filled with null values (NaN or empty strings depending on the column data type).

If we want only the column headings that appear in both tables, we can use join='inner':

`pd.concat([dataframes to combine], join='inner')`

We may also need to refactor the indexing, where two tables are indexed from 0 upwards, adding the two tables together will result in multiple occurences of the same index.  This can be overcome by using ignore_index=True:

`pd.concat([dataframes to combine], join='inner', ignore_index=True)`


### Merging dataframes by common column matching values

 `pd.merge(dataframe1, dataframe2)`

 extra parameters:
 * which columns to merge by when the column name is the same in both dataframes:
  * single column `pd.merge(df, df2, on='column_name')`  
  * multiple columns `pd.merge(df, df2, on=['column1', 'column2']`

* which columns to merge by when columns have different names in each dataframe
  * single column `pd.merge(df1, df2, left_on = 'df1_column', right_on = 'df2_column')`
  * multiple column `pd.merge(df1, df2, left_on = ['df1_column1', 'df1_column2'], right_on = ['df2_column1', 'df2_column2'])`
* what kind of join (inner, left, right or cross) inner is default
  * `pd.merge(df1, df2, how = '....')`
  * inner will join with all columns
  * left joins with just first stated df columns
  * right joins with just second stated df columns
  * cross is a mix of both



### Difference between concat and merge:

```
df1:  
          Key  data1
      0   b   0
      1   b   1
      2   a   2
      3   c   3
      4   a   4
      5   a   5
      6   b   6

df2:
    Key data2
0   a   0
1   b   1
2   d   2

# merge would look like this:

pd.merge(df1, df2)

   Key data1 data2
0   b    0    1
1   b    1    1
2   b    6    1
3   a    2    0
4   a    4    0
5   a    5    0

# concat would look like this

pd.concat([df1, df2])

   Key data1 data2
0   b   0     NaN
1   b   1     NaN
2   a   2     NaN
3   c   3     NaN
4   a   4     NaN
5   a   5     NaN
6   b   6     NaN
0   a   Nan   0
1   b   Nan   1
2   d   Nan   2
```

Merge is particularly useful with datasets that share a unique index eg. two datasets that were indexed by date or country

### Exercise 1 - combine the two data sets

The Excel file at this URL https://github.com/futureCodersSE/python-programming-for-data/blob/main/Datasets/Income-Data.xlsx?raw=true contains TWO data sheets named county-level and state-level.  

Read the county-level sheet into a dataframe called **county_level_df**
Read the state-level sheet into a dataframe called **state_level_df**

Write a function called **combine_whole** which:

Uses `pd.concat([list of dataframes])` to combine the two dataframes into a new dataframe called **income_df**, filling missing values with null values.  

**Important**
Spend some time displaying `county_level_df`, `state_level_df` and the combined df so that you can see what is happening.

In [ ]:
import pandas as pd

county_level_df = pd.read_excel("https://github.com/futureCodersSE/python-programming-for-data/blob/main/Datasets/Income-Data.xlsx?raw=true", sheet_name='county-level')
state_level_df = pd.read_excel("https://github.com/futureCodersSE/python-programming-for-data/blob/main/Datasets/Income-Data.xlsx?raw=true", sheet_name='state-level')

def combine_whole():
  # add code to combine the 2 dataframes (it is OK for missing values with NaN in this case)
  new_df = pd.concat([county_level_df, state_level_df])

  print(county_level_df,"\n")
  print(state_level_df,"\n")
  print(new_df,"\n")

  return new_df


# create new dataframe from your function above
income_df = combine_whole()

# This will run and test your code to check your new dataframe contains null values
actual = income_df.isnull().values.any()
expected = True

if actual == expected:
  print("Test passed", actual)
else:
  print("Test failed, expected", expected, "got", actual)

   State  County  Population  Age  Income
0     TX       1          72   34      65
1     TX       2          33   42      45
2     TX       5          25   23      46
3     TX       6          54   36      65
4     TX       7          11   42      53
5     TX       8          28   25      62
6     TX       9          82   35      66
7     TX      10           5   40      75
8     MD      11          61   27      22
9     MD       2           5   23      69
10    MD       4          98   25      73
11    MD       3          64   29      75
12    MD       2          36   24      65
13    MD       1          24   25      66
14    MD       5          34   31      78
15    MD       6          89   22      81
16    MD       8          21   25      73
17    MD       7          21   30      62

  State    Pop  Age  Income  Education
0    TX  23543   32      54       10.2
1    MD  10343   29      69       10.3
2    IN   5231   41      35       10.1
3    CA  29587   35      67       10.4
4    NY  18142   34      78       10.2

   State  County  Population  Age  Income      Pop  Education
0     TX     1.0        72.0   34      65      NaN        NaN
1     TX     2.0        33.0   42      45      NaN        NaN
2     TX     5.0        25.0   23      46      NaN        NaN
3     TX     6.0        54.0   36      65      NaN        NaN
4     TX     7.0        11.0   42      53      NaN        NaN
5     TX     8.0        28.0   25      62      NaN        NaN
6     TX     9.0        82.0   35      66      NaN        NaN
7     TX    10.0         5.0   40      75      NaN        NaN
8     MD    11.0        61.0   27      22      NaN        NaN
9     MD     2.0         5.0   23      69      NaN        NaN
10    MD     4.0        98.0   25      73      NaN        NaN
11    MD     3.0        64.0   29      75      NaN        NaN
12    MD     2.0        36.0   24      65      NaN        NaN
13    MD     1.0        24.0   25      66      NaN        NaN
14    MD     5.0        34.0   31      78      NaN        NaN
15    MD     6.0        89.0   22      81      NaN        NaN
16    MD     8.0        21.0   25      73      NaN        NaN
17    MD     7.0        21.0   30      62      NaN        NaN
0     TX     NaN         NaN   32      54  23543.0       10.2
1     MD     NaN         NaN   29      69  10343.0       10.3
2     IN     NaN         NaN   41      35   5231.0       10.1
3     CA     NaN         NaN   35      67  29587.0       10.4
4     NY     NaN         NaN   34      78  18142.0       10.2

Test passed True

### Exercise 2 - ignoring index to get a new indexing system
---

All rows in each dataframe are indexed from 0 to one less than the number of rows.  You may have noticed that the concatenation in the previous exercise has kept the indexing from the individual tables, so there are two rows labelled 0 and two labelled 1, etc.  

If we are making a new table it may make sense to create a new set of indices, from 0 to one less than the length of the new table.   Do this by adding an extra paramater `ignore_index=True`.  ignore_index is False by default and all original indices are kept.

We can also use `join='inner'` to only join columns which are common to both tables

Write a function called **combine_common** which will:

Combine the dataframes `county_level_df` and `state_level_df` into a new dataframe called `income_df`, adding the parameter `ignore_index=True` and joining via inner join.

In [ ]:
import pandas as pd

county_level_df = pd.read_excel("https://github.com/futureCodersSE/python-programming-for-data/blob/main/Datasets/Income-Data.xlsx?raw=true", sheet_name='county-level')
state_level_df = pd.read_excel("https://github.com/futureCodersSE/python-programming-for-data/blob/main/Datasets/Income-Data.xlsx?raw=true", sheet_name='state-level')

def combine_common():
  # add code to combine the 2 dataframes ignoring index and using inner join
  new_df = pd.concat([county_level_df, state_level_df], ignore_index=True, join='inner')
  print(new_df,"\n")

  return new_df

# create new dataframe from your function above
income_df = combine_common()


# This will run and test your code to check your new dataframe ends with the correct index and has the right number of columns
actual = income_df.index[-1]
expected = 22

if actual == expected and len(income_df.columns) == 3:
  print("Test passed", actual, len(income_df.columns))
else:
  print("Test failed, expected last row index of", expected, "got", actual, "and expected 3 columns but got", len(income_df.columns))

   State  Age  Income
0     TX   34      65
1     TX   42      45
2     TX   23      46
3     TX   36      65
4     TX   42      53
5     TX   25      62
6     TX   35      66
7     TX   40      75
8     MD   27      22
9     MD   23      69
10    MD   25      73
11    MD   29      75
12    MD   24      65
13    MD   25      66
14    MD   31      78
15    MD   22      81
16    MD   25      73
17    MD   30      62
18    TX   32      54
19    MD   29      69
20    IN   41      35
21    CA   35      67
22    NY   34      78

Test passed 22 3

### Exercise 3 - add new rows to the end of the income dataframe

The sheet `income` in the Excel data file has 10 further records showing State, Age and Income only, so this table matches the income dataframe exactly.

Read the data from sheet_name `income` in the same Excel data file into a new dataframe called **income_new**.  

Write a function called **combine_income** which will:

Add this dataframe to the end of  `income_df` dataframe to form a new dataframe called **income_df_v2**.  Use the `ignore_index=True` parameter to reindex.

In [ ]:
import pandas as pd
income_new = pd.read_excel("https://github.com/futureCodersSE/python-programming-for-data/blob/main/Datasets/Income-Data.xlsx?raw=true", sheet_name='income')

def combine_income():
  # add code below to append the income_new dataframe to the income_df dataframe made in the last exercise, ignoring the index
  income_df_v2 = pd.concat([income_df, income_new], ignore_index=True)
  print(income_df_v2,"\n")

  return income_df_v2

# save returned dataframe in a variable
income_df_v2 = combine_income()

# This will run and test your code to see if new dataframe has correct number of columns and correct indexing
actual = income_df_v2.index[-1]
expected = 32

if actual == expected and len(income_df_v2.columns) == 4:
  print("Test passed", actual)
else:
  print("Test failed, expected last row index of", expected, "got", actual, "and expected 3 columns but got", len(income_df_v2.columns))

   State  Age  Income   Pop
0     TX   34      65   NaN
1     TX   42      45   NaN
2     TX   23      46   NaN
3     TX   36      65   NaN
4     TX   42      53   NaN
5     TX   25      62   NaN
6     TX   35      66   NaN
7     TX   40      75   NaN
8     MD   27      22   NaN
9     MD   23      69   NaN
10    MD   25      73   NaN
11    MD   29      75   NaN
12    MD   24      65   NaN
13    MD   25      66   NaN
14    MD   31      78   NaN
15    MD   22      81   NaN
16    MD   25      73   NaN
17    MD   30      62   NaN
18    TX   32      54   NaN
19    MD   29      69   NaN
20    IN   41      35   NaN
21    CA   35      67   NaN
22    NY   34      78   NaN
23    TX   32      69  70.0
24    MD   41      35  33.0
25    IN   32      69  23.0
26    CA   35      54  54.0
27    NY   29      78  11.0
28    TX   35      54  27.0
29    MD   34      67  81.0
30    IN   41      35  24.0
31    CA   29      78  10.0
32    NY   34      67   7.0

Test passed 32

### Exercise 4 - Create a new Pop column in county_level_df

Looking at the tables country_level_df and state_level_df, each has a column containing data on population.  One column is headed *Population* and the other is headed *Pop*.  Ideally these would be merged into one column and this would minimise the number of NaN entries.  

Write a function called **create_pop** that:

*  Add a new column called '`Pop`' to the `county_level_df` dataframe which contains a copy of all the values in the '`Population`' column  (`df['new_name'] = df['existing_name']`)  
*  Drop the 'Population' column `df.drop([column name], axis=1)` from `county_level_df` and store the result in a new dataframe called **county_level_df_v2**

**What does `axis=1` mean?**
For a number of processes, we need to tell the function whether we want it to work on columns or rows.  Use `axis=0`for rows and `axis=1` for columns.  In most cases, the function will already know what it needs to work on, or will make an assumption.  `df.drop()` assumes that you want to drop a row, unless you tell it you want to drop columns instead.

In [ ]:
import pandas as pd
county_level_df = pd.read_excel("https://github.com/futureCodersSE/python-programming-for-data/blob/main/Datasets/Income-Data.xlsx?raw=true", sheet_name = 'county-level')

def create_pop():
  # add code below to add 'Pop' column

  county_level_df["Pop"] = county_level_df["Population"]
  print(county_level_df,"\n")

  # add code below to drop 'Population' column
  county_level_df_v2 = county_level_df.drop(["Population"], axis=1)
  print(county_level_df_v2,"\n")

  return county_level_df_v2


# save returned dataframe in a variable
actual = create_pop()

# This will run and test your code to see if new dataframe contains pop column and dropped population column
if 'Pop' in actual.columns and len(actual.columns) == 5:
  print("Test passed, contains 5 columns including Pop column")
elif 'Pop' in actual.columns and len(actual.columns) != 5:
  print("Test not passed, expected 5 columns, instead got", len(actual.columns))
else:
  print("Test not passed, column Pop not present")

   State  County  Population  Age  Income  Pop
0     TX       1          72   34      65   72
1     TX       2          33   42      45   33
2     TX       5          25   23      46   25
3     TX       6          54   36      65   54
4     TX       7          11   42      53   11
5     TX       8          28   25      62   28
6     TX       9          82   35      66   82
7     TX      10           5   40      75    5
8     MD      11          61   27      22   61
9     MD       2           5   23      69    5
10    MD       4          98   25      73   98
11    MD       3          64   29      75   64
12    MD       2          36   24      65   36
13    MD       1          24   25      66   24
14    MD       5          34   31      78   34
15    MD       6          89   22      81   89
16    MD       8          21   25      73   21
17    MD       7          21   30      62   21

   State  County  Age  Income  Pop
0     TX       1   34      65   72
1     TX       2   42      45   33
2     TX       5   23      46   25
3     TX       6   36      65   54
4     TX       7   42      53   11
5     TX       8   25      62   28
6     TX       9   35      66   82
7     TX      10   40      75    5
8     MD      11   27      22   61
9     MD       2   23      69    5
10    MD       4   25      73   98
11    MD       3   29      75   64
12    MD       2   24      65   36
13    MD       1   25      66   24
14    MD       5   31      78   34
15    MD       6   22      81   89
16    MD       8   25      73   21
17    MD       7   30      62   21

Test passed, contains 5 columns including Pop column

## Exercise 5 - clean up the format of the Pop column in state_level_df

Now that both dataframes have a Pop column, we should make the data consisent in format for both dataframes.

In `state_level_df` the values in the `Pop` column are in 1000s.  In `county_level_df_v2` the values in the `Pop` column are actual numbers.  Let's convert the `state_level_df` values from 1000s for consistency.  We can do this by performing an operation on a column (e.g. `df[column name] = df[column name] * 100`)

**Something to think about**  
When making changes to a dataframe, it is often useful to be working on a copy rather than the original.  You can do this using the `dataframe.copy()` function.  In the example below a new dataframe, which is a copy of the `state_level_df` dataframe, has been created and stored in the new variable **state_level_df_copy**

**Write** a function called **clean_pop** which will:  

*  convert the values in the `Pop` column of the dataframe from actual numbers to numbers of 1000s, rounding to whole numbers

In [ ]:
import pandas as pd
import numpy as np

state_level_df = pd.read_excel("https://github.com/futureCodersSE/python-programming-for-data/blob/main/Datasets/Income-Data.xlsx?raw=true", sheet_name = 'state-level')
county_level_df = pd.read_excel("https://github.com/futureCodersSE/python-programming-for-data/blob/main/Datasets/Income-Data.xlsx?raw=true", sheet_name = 'county-level')
state_level_df_copy = state_level_df.copy()

def clean_pop():
  #add code below which converts the 'Pop' column to a number of 1000s rather than actual numbers
  state_level_df_v2 = state_level_df_copy.copy()
  state_level_df_v2["Pop"] = np.floor(state_level_df_v2["Pop"] / 1000).astype(int)
  print(state_level_df,"\n")
  print(state_level_df_v2,"\n")

  return state_level_df_v2


# create new variable
state_level_df_v2 = clean_pop()

# This will run and test your code to see if you've correctly converted the column to 10s instead of 1000s
actual = state_level_df_v2['Pop'].max()
expected = 29

if actual == expected and len(state_level_df_v2.columns) == 5:
  print("Test passed", actual)
else:
  print("Test failed, expected max of", expected, "got", actual)

  State    Pop  Age  Income  Education
0    TX  23543   32      54       10.2
1    MD  10343   29      69       10.3
2    IN   5231   41      35       10.1
3    CA  29587   35      67       10.4
4    NY  18142   34      78       10.2

  State  Pop  Age  Income  Education
0    TX   23   32      54       10.2
1    MD   10   29      69       10.3
2    IN    5   41      35       10.1
3    CA   29   35      67       10.4
4    NY   18   34      78       10.2

Test passed 29

### Exercise 6 - combine the two v2 dataframes using concat

Write function **combine_v2** which will:

Combine the v2 version of `county_level_df` created by the function `create_pop()` and the v2 version of `state_level_df` created by the function `clean_pop()`.

 to create a new dataframe called **income_df_v3**.  The join type should be 'inner' and ignore_index should be True

In [ ]:
county_level_df_v2 = create_pop()
state_level_df_v2 = clean_pop()

def combine_v2():
  # return the 2 dataframes combined joined inner and ignoring index
  combined_df = pd.concat([county_level_df_v2, state_level_df_v2], join='inner', ignore_index=True)
  print(combined_df,"\n")

  return combined_df

# This will run and test your code to see if your new dataframe is correct length and has correct number of columns
income_df_v3 = combine_v2()

actual = len(income_df_v3)
actual2 = len(income_df_v3.columns)
expected = 23
expected2 = 4

if actual == expected and actual2 == expected2:
  print("Test passed", actual, "rows and 4 columns")
else:
  print("Test failed, expected", expected, "rows", expected2, "columns but got", actual, "rows and", actual2,"columns")

   State  County  Population  Age  Income  Pop
0     TX       1          72   34      65   72
1     TX       2          33   42      45   33
2     TX       5          25   23      46   25
3     TX       6          54   36      65   54
4     TX       7          11   42      53   11
5     TX       8          28   25      62   28
6     TX       9          82   35      66   82
7     TX      10           5   40      75    5
8     MD      11          61   27      22   61
9     MD       2           5   23      69    5
10    MD       4          98   25      73   98
11    MD       3          64   29      75   64
12    MD       2          36   24      65   36
13    MD       1          24   25      66   24
14    MD       5          34   31      78   34
15    MD       6          89   22      81   89
16    MD       8          21   25      73   21
17    MD       7          21   30      62   21

   State  County  Age  Income  Pop
0     TX       1   34      65   72
1     TX       2   42      45   33
2     TX       5   23      46   25
3     TX       6   36      65   54
4     TX       7   42      53   11
5     TX       8   25      62   28
6     TX       9   35      66   82
7     TX      10   40      75    5
8     MD      11   27      22   61
9     MD       2   23      69    5
10    MD       4   25      73   98
11    MD       3   29      75   64
12    MD       2   24      65   36
13    MD       1   25      66   24
14    MD       5   31      78   34
15    MD       6   22      81   89
16    MD       8   25      73   21
17    MD       7   30      62   21

  State    Pop  Age  Income  Education
0    TX  23543   32      54       10.2
1    MD  10343   29      69       10.3
2    IN   5231   41      35       10.1
3    CA  29587   35      67       10.4
4    NY  18142   34      78       10.2

  State  Pop  Age  Income  Education
0    TX   23   32      54       10.2
1    MD   10   29      69       10.3
2    IN    5   41      35       10.1
3    CA   29   35      67       10.4
4    NY   18   34      78       10.2

   State  Age  Income  Pop
0     TX   34      65   72
1     TX   42      45   33
2     TX   23      46   25
3     TX   36      65   54
4     TX   42      53   11
5     TX   25      62   28
6     TX   35      66   82
7     TX   40      75    5
8     MD   27      22   61
9     MD   23      69    5
10    MD   25      73   98
11    MD   29      75   64
12    MD   24      65   36
13    MD   25      66   24
14    MD   31      78   34
15    MD   22      81   89
16    MD   25      73   21
17    MD   30      62   21
18    TX   32      54   23
19    MD   29      69   10
20    IN   41      35    5
21    CA   35      67   29
22    NY   34      78   18

Test passed 23 rows and 4 columns

### Exercise 7 - Combining dataframes using merge
---
Read in 2 new dataframes called **skill_df** and **industry_df** using the 'Skill Migration' sheet and 'Industry Migration' sheet from the following Excel spreadsheet:
"https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"

**Write** a function called `get_combine()` which will use the `merge()` function to combine the skill and industry migration dataframes. The two dataframes have different column names for the same data (in `skill_df` there is `skill_group_name`, in `industry_df` it is called `industry_name`.

Use the following information:  

* the merge will combine the `skill_df` and `industry_df` dataframes, including the columns `country_name`, `wb_income` and `net_per_10K_2019` from each, the `skill_group_name` from `skill_df` and `industry_name` from `industry_df`

* it will merge  on the columns: `country_name` and `skill_group_name` from the **left** dataframe(`skill_df`)

* it will merge on the columns: `country_name` and `industry_name` from the **right** dataframe(`industry_df`) _Remember: in `industry_df` the column that corresponds to `skill_group_name` is called `industry_name`_

* display the merged dataframe's `.info()` so that you can see what columns have been made in the merge
* return the new dataframe, which should contain the 3 merged columns, two `wb_income` columns and the two 'net_per_10k_2019' columns (total 7).

In [ ]:
import pandas as pd
# read new dataframes skill_df and industry_df
skill_df = pd.read_excel("https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true", sheet_name="Skill Migration")
industry_df = pd.read_excel("https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true", sheet_name="Industry Migration")


def get_combine():
  # merge dataframes into variable called migration_df and return it

  migration_df = pd.merge(skill_df, industry_df, left_on=["country_name", "skill_group_name"], right_on=["country_name", "industry_name"])
  print(migration_df.info(),"\n")

  #return the new dataframe, which should contain the 3 merged columns, two wb_income columns and the two 'net_per_10k_2019' columns
  return_df = migration_df.filter(regex="skill_group_name|industry_name|country_name|wb_income|net_per_10K_2019")
  print(return_df.info(),"\n")

  return return_df



# This will run and test your code to see if your new dataframe is correct length and has correct number of columns
merged = get_combine()
actual = merged.shape[0]
actual2 = merged.shape[1]
expected = 873
expected2 = 7

if actual == expected and actual2 == expected2:
  print("Test passed", actual, "rows", actual2, "columns")
else:
  print("Test failed, expected", expected, "rows", expected2, "columns but got", actual, "rows and", actual2,"columns")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 873 entries, 0 to 872
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   country_code_x        873 non-null    object
 1   country_name          873 non-null    object
 2   wb_income_x           873 non-null    object
 3   wb_region_x           873 non-null    object
 4   skill_group_id        873 non-null    int64
 5   skill_group_category  873 non-null    object
 6   skill_group_name      873 non-null    object
 7   net_per_10K_2015_x    873 non-null    float64
 8   net_per_10K_2016_x    873 non-null    float64
 9   net_per_10K_2017_x    873 non-null    float64
 10  net_per_10K_2018_x    873 non-null    float64
 11  net_per_10K_2019_x    873 non-null    float64
 12  country_code_y        873 non-null    object
 13  wb_income_y           873 non-null    object
 14  wb_region_y           873 non-null    object
 15  isic_section_index    873 non-null    object
 16  isic_section_name     873 non-null    object
 17  industry_id           873 non-null    int64
 18  industry_name         873 non-null    object
 19  net_per_10K_2015_y    873 non-null    float64
 20  net_per_10K_2016_y    873 non-null    float64
 21  net_per_10K_2017_y    873 non-null    float64
 22  net_per_10K_2018_y    873 non-null    float64
 23  net_per_10K_2019_y    873 non-null    float64
dtypes: float64(10), int64(2), object(12)
memory usage: 163.8+ KB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 873 entries, 0 to 872
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country_name        873 non-null    object
 1   wb_income_x         873 non-null    object
 2   skill_group_name    873 non-null    object
 3   net_per_10K_2019_x  873 non-null    float64
 4   wb_income_y         873 non-null    object
 5   industry_name       873 non-null    object
 6   net_per_10K_2019_y  873 non-null    float64
dtypes: float64(2), object(5)
memory usage: 47.9+ KB
None

Test passed 873 rows 7 columns

### Exercise 8 - pivot table of state and population
---

Write a function called **create_pivot** which will:

Create a pivot table of `Pop` by `State` and store the result in a new dataframe called **population_pivot**  using `income_df_v3` created in exercise 6

To make a pivot table:

`df_pivot = pd.pivot_table(
      df,
      values = 'column1 name',
      index = 'column2 name',
      columns = 'column3 name',
      aggfunc = np.mean
)`

If index column is not specified, it will automatically use the existing dataframe index   

**Note**:  np.mean is a way of calculating the mean in a very efficient way using a library called `numpy` (which is a later part of the course). `numpy` has been imported in the code already.

In [ ]:
import numpy as np

# function for aggregation and conversion to integer
def mean_to_int(input_float):
    return int(np.mean(input_float))


def create_pivot(df):
  #add code below which creates a pivot table of Pop and State

  df_pivot = pd.pivot_table(
      df,
      values = 'Pop',
      index = 'State',
      aggfunc = mean_to_int
  )

  print(df_pivot,"\n")

  return df_pivot


#save series in a new variable
population_pivot = create_pivot(income_df_v3)


# This will run and test your code to see if your new series is the correct length
actual = len(population_pivot)
expected = 5

if actual == expected:
  print("Test passed", actual)
else:
  print("Test failed expected", expected, "got", actual)

       Pop
State
CA      29
IN       5
MD      42
NY      18
TX      37

Test passed 5

# Reflection
----

## What skills have you demonstrated in completing this notebook?

Your answer:

## What caused you the most difficulty?

- attention to detail
- outside The Box Thinking
- rapid acquisition of new knowledge
- performing routine operations

Your answer:

I didn't really have any particular problems